body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.rodape{
    width: 100%;
    display: inline-flex;
}
.rodape p{
    display: flex;
    width: 70%;    
    color: #505050;
}
.rodape h1{
    display: flex;
    font-weight: bold; 
}
.rodape .lvl1{
    display: inline;
    width: 50%;
    padding: 1.3%;
}
.rodape .lvl1 img{
    display: inline;
    width: 180px;
    height: 40px;

}
.rodape .lvl1 button{
    display: inline;
    position: relative;
    color: #f0f0f0;
    background: rgb(66, 66, 66);
    border-color: rgb(66, 66, 66);
    max-width: 27%;
    height: 15%;
}
.rodape .lvl2{
    display: inline;
    width: 50%;
}
.rodape .lvl3 {
    display: inline;
    width: 50%;
}
.rodape .lvl3 .logos {
    display: flex;
    position: relative;
    right: 0%;
    left: 0%;
    bottom: 0;
    top: 8%;
    margin: -2.5%;
    width: 500px;
    height: 0;

}
.rodape .lvl3 .logos img{
    justify-content: space-around;
    width: 70px;
    height: 40px;
}
