body{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    display: flex;
}
.rodape p{
    color: #505050;
}
.rodape h1{
    padding: 0px 2px;
    font-weight: bold; 
}
.rodape .lvl1{
    padding: 2px 12px;
    display: inline;
}
.rodape .lvl1 img{
    padding: 12px 2px;
    height: 50px;
    width: 250px;
}

.rodape .lvl1 button{
    position: relative;
    color: #f0f0f0;
    background: rgb(29, 29, 29);
    border-color: rgb(66, 66, 66);
    max-width: 27%;
    height: 30px;
    top: 5px;
}
.rodape .lvl2{
    display: inline;
    padding: 0px 10px;
}
.rodape .lvl3 {
    display: inline;
    padding: 0px 10px;
    width: 30%;
}
.rodape .lvl3 .logos {
    display: flex;
    position: relative;
    right: 0%;
    left: -13px;
    bottom: 0;
    top: -30px;
    margin: auto;
    width: 500px;
    height: 0;
}
.rodape .lvl3 p, .lvl2 p{
    padding: 15px 0;
}
.rodape .lvl3 .logos i{
    justify-content: space-around;
    padding: 20px 15px;
    width: 5%;
    height: 40px;
}
@media(max-width:830px){
    .rodape{
        flex-direction: column;
    }
    .rodape .lvl3 {
        display: inline;
        padding: 0px 10px;
        width: 100%;
    }
}